#map-greyhawk-vector {
  clip-rule: evenodd;
  fill-rule: evenodd;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;

  --map-brown: #a17164;
  --map-green: #85925e;
  --map-blue: #5a7675;
  --map-light: #dfc3a1;

  --map-brown-light: #847172;
  --map-green-light: #80a36f;
  --map-blue-light: #839898;
  --map-light-light: #d4bfa8;

  --map-brown-dark: #bd7155;
  --map-green-dark: #8a804c;
  --map-blue-dark: #305452;
  --map-light-dark: #e9c79a;

  .map-water-fill {
    fill: var(--map-blue-light);
  }

  .map-water-contours {
    fill: var(--map-blue);
    stroke: var(--map-blue-dark);
    stroke-width: 6.94;
    stroke-linejoin: round;
  }

  .map-water-contours-1 {
    fill-opacity: 0.17;
  }

  .map-water-contours-2 {
    fill-opacity: 0.33;
  }

  .map-water-contours-3 {
    fill-opacity: 0.5;
  }

  .map-water-contours-4 {
    fill-opacity: 0.67;
  }

  .map-water-contours-5 {
    fill-opacity: 0.83;
  }

  .map-water-contours-6 {
    fill-opacity: 1;
  }

  .map-river-shadow {
    fill: #039;
  }

  @font-face {
    font-family: 'BlackChancery';
    font-variant: normal;
    font-style: normal;
    font-weight: 400;
    src: url(#FontID2) format(svg);
  }
  @font-face {
    font-family: 'GreyhawkGothic';
    font-variant: normal;
    font-style: normal;
    font-weight: 500;
    src: url(#FontID1) format(svg);
  }
  @font-face {
    font-family: 'Wingdings';
    font-variant: normal;
    font-weight: 400;
    src: url(#FontID0) format(svg);
  }

  .str15,
  .str6 {
    stroke: #000;
    stroke-width: 27.78;
    stroke-miterlimit: 2.61313;
  }
  .str6 {
    stroke: #666;
    stroke-width: 13.89;
  }
  .str0,
  .str12,
  .str21,
  .str3,
  .str9 {
    stroke: #000;
    stroke-width: 6.94;
    stroke-miterlimit: 2.61313;
  }
  .str12,
  .str21,
  .str3 {
    stroke-width: 3;
  }
  .str12 {
    stroke: #666;
  }
  .str10,
  .str17,
  .str19,
  .str2 {
    stroke: #000;
    stroke-width: 10.42;
    stroke-linecap: round;
    stroke-miterlimit: 2.61313;
  }
  .str17,
  .str19,
  .str2 {
    stroke-width: 41.67;
  }
  .str19,
  .str2 {
    stroke-width: 13.89;
  }
  .str19 {
    stroke: #039;
  }
  .str16,
  .str18 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .str18 {
    stroke-width: 41.67;
    stroke-miterlimit: 2.61313;
  }
  .str16 {
    stroke-width: 27.78;
  }
  .str1,
  .str14,
  .str16,
  .str20 {
    stroke-miterlimit: 2.61313;
  }
  .str20 {
    stroke: #039;
    stroke-width: 13.89;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .str1,
  .str14 {
    stroke: #000;
    stroke-width: 10.42;
    stroke-dasharray: 20.834646 10.417323;
  }
  .str14 {
    stroke-width: 27.78;
    stroke-dasharray: 27.779528 27.779528;
  }
  .fil0 {
    fill: none;
  }
  .fil32 {
    fill: #373435;
  }
  .fil23 {
    fill: #f3e292;
  }
  .fil2 {
    fill: #dda974;
  }
  .fil22 {
    fill: #b7d77a;
  }
  .fil1,
  .fil29 {
    fill: #000;
  }
  .fil19 {
    fill: #006;
  }
  .fil20 {
    fill: #039;
  }
  .fil5 {
    fill: #25b544;
  }
  .fil14 {
    fill: #319dad;
  }
  .fil18 {
    fill: #363c7c;
  }
  .fil17 {
    fill: #4b97ca;
  }
  .fil12 {
    fill: #51b5ca;
  }
  .fil10 {
    fill: #72d1df;
  }
  .fil9 {
    fill: #bfeaf6;
  }
  .fil3 {
    fill: #d74a29;
  }
  .fil6 {
    fill: red;
  }
  .fil4 {
    fill: #fff;
  }
  .fil27,
  .fil28 {
    fill: #000;
  }
  .fil28 {
    fill-rule: nonzero;
  }
  .fnt0 {
    font-weight: 400;
    font-size: 111.82px;
    font-family: 'Wingdings';
  }
}
