.layout-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.618rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-header-title {
  font-size: 24px;
}

.layout-header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
