.layout-header {
  width: 100%;
  border-bottom: var(--border-width) solid var(--color-light);
  padding: 1rem 1.618rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-header-title {
  font-size: 20px;
}

.layout-header-nav {
  display: flex;
  align-items: center;
  gap: 1.618rem;
}
