@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Thasadith:wght@400;700&display=swap');

:root {
  --color-primary: #7b1fa2;
  --color-secondary: #595959;

  --color-info: #01579b;
  --color-success: #1b5e20;
  --color-warning: #e65100;
  --color-error: #c62828;

  --color-white: #f8f8f8;
  --color-light: #a6a6a6;
  --color-black: #222222;
  --color-dark: #595959;

  --color-background: var(--color-white);
  --color-text: var(--color-black);

  --font-size: 16px;
  --line-height: 20px;
  --border-width: 2px;
  --border-radius: 4px;

  --font-heading: 'Charm', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  background: var(--color-background);
  color: var(--color-text);

  font-family: 'Thasadith', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
.heading {
  font-family: 'Charm', cursive;
  font-weight: 700;
  font-style: normal;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.8s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
