.layout-footer {
  width: 100%;
  padding: 1rem 1.618rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-footer-search {
  font-size: 20px;
  font-weight: 300;
}

.layout-footer-credit {
  display: flex;
  align-items: center;
  gap: 1.618rem;
}
