.button {
  font-weight: 700;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.618em 1.618em;
  background-color: var(--color-white);
}

.button--size-small {
  font-size: 0.8rem;
}
.button--size-medium {
  font-size: 1rem;
}
.button--size-large {
  font-size: 1.2rem;
}

.button--variant-default {
  color: var(--color-dark);
  box-shadow: var(--color-dark) 0px 0px 0px var(--border-width) inset;
}
.button--variant-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.button--variant-secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
}
.button--variant-info {
  color: var(--color-info);
  box-shadow: var(--color-info) 0px 0px 0px var(--border-width) inset;
}
.button--variant-success {
  color: var(--color-success);
  box-shadow: var(--color-success) 0px 0px 0px var(--border-width) inset;
}
.button--variant-warning {
  color: var(--color-warning);
  box-shadow: var(--color-warning) 0px 0px 0px var(--border-width) inset;
}
.button--variant-error {
  color: var(--color-error);
  box-shadow: var(--color-error) 0px 0px 0px var(--border-width) inset;
}
